.header {
  position: relative;
  height: 95vh;
  background-color: #1F2833;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%); }
  .header__text--span {
    color: #45A29E; }
  .header a {
    font-size: 1.5rem; }

.container--column {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container--column__items {
    margin-bottom: 10rem; }

.container--row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .container--row__items:not(:last-child) {
    margin-right: 2rem; }

.footer {
  height: 7rem;
  background-color: #1F2833;
  border-top: 1px solid #45A29E; }
  .footer__copyright {
    font-size: 2rem;
    font-family: "Montserrat SemiBold";
    color: #C5C6C7; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #0B0C10; }

.heading-primary {
  color: #C5C6C7;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0.6rem 0.6rem #0B0C10;
  font-size: 8rem; }

.heading-secondary {
  color: #C5C6C7;
  font-family: 'Poppins', sans-serif;
  font-size: 6.5rem; }

.heading-thirdly {
  color: #C5C6C7;
  font-family: "Montserrat Black";
  font-size: 3.5rem; }

.paragraph-primary {
  color: #C5C6C7;
  font-size: 2.2rem;
  font-family: "Montserrat Regular"; }

.paragraph-secondary {
  color: #45A29E;
  font-size: 2.2rem;
  font-family: "Montserrat Regular";
  letter-spacing: 1.1; }

.paragraph-thirdly {
  color: #45A29E;
  font-size: 1.9rem;
  font-family: "Montserrat Regular";
  letter-spacing: 1.1; }

.paragraph-italic {
  font-style: italic;
  font-size: 1.4rem;
  color: #45A29E;
  font-family: "Montserrat SemiBold"; }

.text-highlight-primary {
  color: #45A29E; }

.text-highlight-secondary {
  color: #C5C6C7; }

.u-margin-bottom-tiny {
  margin-bottom: .7rem !important; }

.u-margin-bottom-small {
  margin-bottom: 3rem !important; }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }

.u-margin-bottom-ultra {
  margin-bottom: 15rem !important; }

.u-margin-vertical-small {
  margin: 1rem 0 !important; }

.u-text-center {
  text-align: center !important; }

.u-height-max {
  height: 100% !important; }

.u-container-vertical-center {
  align-items: center !important; }

.u-text-no-deco {
  text-decoration: none !important; }

@keyframes tooltipAppear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn, .btn:link, .btn:visited {
  letter-spacing: 1;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-family: "Montserrat Medium";
  border: 1px solid #C5C6C7;
  color: #C5C6C7; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(11, 12, 16, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(11, 12, 16, 0.2); }

.icon-box {
  text-align: center;
  margin: 6rem 0; }

.icons {
  position: relative; }
  .icons:not(:last-child) {
    margin-right: 1rem; }

.tooltip {
  display: none;
  position: absolute;
  background-color: #C5C6C7;
  color: #1F2833;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 2px;
  min-width: 90px;
  animation: tooltipAppear 0.2s ease forwards; }
  .tooltip::before {
    content: '';
    width: 15px;
    height: 15px;
    z-index: -1;
    position: absolute;
    background-color: #C5C6C7;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg); }

.icons:hover .tooltip {
  display: flex;
  opacity: 1;
  font-family: "Montserrat SemiBold";
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -25px;
  bottom: -35px; }

.card {
  width: 45rem; }
  .card__image-box {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; }
    .card__image-box:hover .card__overlay {
      transform: translateY(0); }
  .card__image {
    width: 100%; }
  .card__overlay {
    position: absolute;
    transform: translateY(-35rem);
    width: 100%;
    height: 100%;
    background-color: rgba(11, 12, 16, 0.75);
    transition: transform 0.5s ease; }
  .card__buttons-box {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .card__button {
    font-family: "Montserrat SemiBold" !important;
    font-size: 1.6rem;
    margin: 0 2rem; }

.navigation__list {
  display: flex;
  flex-direction: row; }

.navigation__item {
  list-style: none; }
  .navigation__item:not(:last-child) {
    margin-right: 3rem; }
  .navigation__item a,
  .navigation__item a:link,
  .navigation__item a:visited {
    text-decoration: none;
    color: #C5C6C7;
    font-family: "Montserrat SemiBold";
    font-size: 2rem; }

.section-skills {
  padding: 18rem 0; }

.section-projects {
  padding: 18rem 0; }

.section-contact {
  padding-bottom: 18rem; }
