.header {
  position: relative;
  height: 95vh;
  background-color: #1F2833;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%); }
  .header__text--span {
    color: #45A29E; }
  .header a {
    font-size: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #0B0C10; }

.heading-primary {
  color: #C5C6C7;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0.6rem 0.6rem #0B0C10;
  font-size: 8rem; }

.heading-secondary {
  color: #C5C6C7;
  font-family: 'Poppins', sans-serif;
  font-size: 6.5rem; }

.paragraph-primary {
  color: #C5C6C7;
  font-size: 2.2rem;
  font-family: "Montserrat Regular"; }

.paragraph-secondary {
  color: #45A29E;
  font-size: 2.2rem;
  font-family: "Montserrat Regular";
  letter-spacing: 1.1; }

.u-margin-bottom-tiny {
  margin-bottom: .7rem !important; }

.u-text-center {
  text-align: center !important; }

.btn, .btn:link, .btn:visited {
  letter-spacing: 1;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-family: "Montserrat Medium";
  border: 1px solid #C5C6C7;
  color: #C5C6C7; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(11, 12, 16, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(11, 12, 16, 0.2); }

.icon-box {
  text-align: center;
  margin: 2rem 0; }

.icons {
  position: relative; }
  .icons:not(:last-child) {
    margin-right: 1rem; }

.tooltip {
  display: none;
  background-color: #C5C6C7;
  padding: 5px;
  font-size: 1.4rem;
  border-radius: 2px; }
  .tooltip::before {
    content: '';
    width: 15px;
    height: 15px;
    z-index: -1;
    position: absolute;
    background-color: #C5C6C7;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg); }

.icons:hover .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -25px;
  bottom: -35px; }

.section-skills {
  height: 100vh;
  padding: 18rem 0; }
