
.btn{

  &,
  &:link,
  &:visited{
    letter-spacing: 1;
    text-decoration:none;
    padding: 1rem 2rem;
    display:inline-block;
    border-radius: 10rem;
    transition:all .2s;
    position:relative;
    font-family: "Montserrat Medium";
    border:1px solid $color3;
    color:$color3;


  }

  &:hover{
    transform: translateY(-0.3rem);
    box-shadow:0 1rem 2rem rgba($color1,.2);

    &::after{
      transform:scaleX(1.1) scaleY(1.6);
      opacity:0;
    }

  }
  &:active{
    outline:none;
    transform:translateY(0.1rem);
    box-shadow:0 0.5rem 1rem rgba($color1,.2);
  }


}
