.heading-primary{
  color:$color3;
  font-family:'Poppins', sans-serif;
  text-shadow: .6rem .6rem $color1;
  font-size: 8rem;
}

.heading-secondary{
  color:$color3;
  font-family: 'Poppins', sans-serif;
  font-size:6.5rem;
}
.paragraph-primary{
  color:$color3;
  font-size: 2.2rem;
  font-family: "Montserrat Regular";
}

.paragraph-secondary{
  color:$color5;
  font-size:2.2rem;
  font-family: "Montserrat Regular";
  letter-spacing: 1.1;
}
