.icon-box{
  text-align: center;
  margin:6rem 0;
}


.icons{
  position:relative;
  &:not(:last-child){
    margin-right:1rem;
  }

}

.tooltip{
  display:none;
  position:absolute;
  background-color: $color3;
  color:$color2;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 2px;
  min-width:90px;
  animation:tooltipAppear 0.2s ease forwards;




  &::before {
    content: '';
    width: 15px;
    height: 15px;
    z-index: -1;
    position: absolute;
    background-color: $color3;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}
.icons:hover .tooltip {
  display: flex;
  opacity:1;
  font-family: "Montserrat SemiBold";
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -25px;
  bottom: -35px;



}
