.container--row{
  max-width:114rem;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  justify-content: space-between;

  @include responsive(tab-port){

    flex-direction:column;
    justify-content: flex-start;
    text-align: center;
  }
  // &__items:not(:last-child){
  //
  //   margin-right:2rem;
  //
  // }
}
