.header{
 position:relative;
 height:95vh;
 background-color:$color2;
 -webkit-clip-path:polygon(0 0,100% 0,85% 75vh,0 100%);
 clip-path:polygon(0 0,100% 0,85% 75vh,0 100%);

 &__text-box{
   position:absolute;
   top:40%;
   left:45%;
   transform:translate(-50%,-50%);
 }

   &__text--span{
     color:$color5;
   }

   & a{
     font-size:1.5rem;
   }
 }
